@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
:root{
    --soft-blue: hsl(231, 69%, 60%);
    --soft-red: hsl(0, 94%, 66%);
    --grayish-blue: hsl(229, 8%, 60%);
    --very-dark-blue: hsl(229, 31%, 21%);
}


*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rubik', sans-serif;
}


/* ################## utility classes #################### */

.stop-scrolling{
    height: 100%;
    overflow: hidden;
}

.container{
    width: 100%;
    padding: 3em 2em;
}


.margin-top{
    margin-top: 30px;
}
.margin-top2{
    margin-top: 45px;
}

.margin-bottom1{
    margin-bottom: 30px;
}
.margin-bottom2{
    margin-bottom: 20px;
}
.margin-bottom3{
    margin-bottom: 10px;
}


.text-center{
    text-align: center;
}

.bg-text{
    font-size: 32px;
}

.text-lt-black{
    color:rgba(0, 0, 0, 0.84);
}

.text-lt{
    color: var(--grayish-blue);
}

.font-wt1{
    font-weight: 500;
}
.font-wt2{
    font-weight: 400;
}

.font-size1{
    font-size: 20px;
}
.font-size2{
    font-size: 15px;
}

.clr-grayish-blue{
    color: var(--grayish-blue);
}

.line-ht{
    line-height: 1.6;
}


/* ################## ############# #################### */



img{
    max-width: 100%;
    height: auto;
}

/* ########################### header ################################# */

nav{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--very-dark-blue);
    opacity: 96%;
    z-index: 1;
    display: flex;
    justify-content: center;
    transform: translateX(-100%);
    /* transition: 0.5s; */
}

nav ul{
    position: relative;
    top: 18%;
    /* border: 1px solid white; */
    width: 80%;
    text-align: center;
}

nav ul li{
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: white;
    list-style-type: none;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.473);   */
    padding: 1em 0;
    margin: 0 auto;
    cursor: pointer;
}

nav ul li:nth-child(2),
nav ul li:nth-child(3)
{
    border-bottom: 1px solid rgba(255, 255, 255, 0.473); 
}

nav ul li:first-child{
    border-top: 1px solid rgba(255, 255, 255, 0.473); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.473); 

}

nav ul li:last-child{
    border-bottom: none;
}

nav ul li:hover{
    color:rgba(255, 255, 255, 0.473);
}

nav ul li button{
    font-size: 20px;
    outline: none;
    background: none;
    width: 100%;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 0.5em 0;
    cursor: pointer;
    margin-top: 25px;
}


nav ul li button:hover{
    color: rgba(255, 255, 255, 0.473);
    border-color: rgba(255, 255, 255, 0.473);
}
nav ul li button:active{
    color: white;
    border-color: white;
}

.social-media{
    position: relative;
    bottom: -28%;
}
.social-media img{
    margin: 0 1em;
    cursor: pointer;
}


header .logo,
header .hamburger img
{
    position: relative;
    z-index: 5;
}

header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

header .logo h3{
    margin-left: .5em;
    font-weight: 500;
}



.icon{
    background-color: var(--soft-blue);
    width: 30px; 
    height: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 2;
}

.icon i{
    color: white;
    font-size: 12px;
}


header{
    width: 100%;
    display: flex;
    /* border: 2px solid black; */
    justify-content: space-between;
    align-items: center;
}


header .hamburger{
    cursor: pointer;
}

@media (min-width: 930px){
    header.container{
        padding: 3em 8em;
    }
    nav{
        background: white;
        position: relative;
        justify-content: space-between;
        transform: translateX(0);
    }
    nav ul .social-media,
    .hamburger{
        display: none;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        top: 0;
        margin: 0;
    }

    nav ul li,
    nav ul li button{
        font-size: 14px;
        color: var(--grayish-blue);
        font-weight: 400;
        margin: 0 40px 0 0;
        /* border: 2px solid black; */
    }

    nav ul li:hover{
        color: var(--soft-red);
    }

    nav ul li button{
        border: 2px solid var(--soft-red);
        color: #fff;
        background-color: var(--soft-red);
        border-radius: 5px;
        padding: 7px 2px;
        letter-spacing: 1px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }
    
    nav ul li button:hover{
        border: 2px solid var(--soft-red);
        color: var(--soft-red);
        background-color: #fff;
    }
}

/* ################# hero-section ##################### */

.hero{
    display: flex;
    flex-direction: column-reverse;
}

.hero .text-part{
    max-width:  640px;
    margin: 0 auto;
}

.hero .text-part h1{
    margin-bottom: 30px;
}

.hero .img-part{
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

.hero .img-part::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 80%;
    background-color: var(--soft-blue);
    border-radius: 0 0 0 32%;
    z-index: -1;
}


.browser-op{
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    margin-top: 20px;
}

.browser-op button{
    width: 100%;
    margin: 0.4em;
    outline: none;
    padding: 0.80em 0;
    color: var(--grayish-blue);
    background-color: rgb(245, 246, 245);
    border-radius: 0.5em;
    font-weight: bold;
    cursor: pointer;
}

.browser-op button:first-child{
    border: 2px solid var(--soft-blue);
    background-color: var(--soft-blue);
    color: white;
}
.browser-op button:hover:first-child{
    background-color: white;
    color: var(--soft-blue);
    border: 2px solid var(--soft-blue);
}

.browser-op button:last-child{
    box-shadow: 0 3px 8px hsl(225, 18%, 87%);
    border: 2px solid rgb(245, 246, 245);
}
.browser-op button:hover:last-child{
    background-color: white;
    border: 2px solid var(--grayish-blue);
}

@media (min-width: 930px){
    .hero{
        flex-direction: row;
    }
    .hero .text-part,
    .hero .img-part{
        width: 100%;
    }

    .hero .text-part{
        text-align: start;
        padding-left: 8em;
    }
    .hero .text-part h1{
        margin-bottom: 15px;
        font-size: 35px;
    }
    .browser-op button{
        flex-basis: 160px;
        font-size: 12px;
        padding: 1.2em 2em;
        border-radius: 0.4em;
    }
    .browser-op button:first-child{
        margin-right: 10px;
    }
}


/* ############################### features ################################ */


.features .heading,
.features .heading h1{
    margin-bottom: 30px;
    max-width: 540px;
    margin: 20px auto;
}

.tabs{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
}
.tabs div{
    font-size: 16px;
    width: 100%;
    border-bottom: 1.2px solid  var(--grayish-blue);
    padding: 1em 0;
    cursor: pointer;
    position: relative;
}

.active::before{
    content: '';
    position: absolute;
    width: 150px;
    height: 3px;
    background-color: var(--soft-red);
    left: 50%;
    transform: translateX(-50%);
    bottom: -1px;
}

.tabs div:hover{
    color: var(--soft-red);
}

.tabs div:first-child{
    border-top: 1px solid  var(--grayish-blue);
}



.about-tabs .img-desc{
    margin: 50px 0;
    width: 100%;
    position: relative;
}



.about-tabs .img-desc img{
    max-width: 80%;
}

.about-tabs .img-desc::before{
    content: '';
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 80%;
    height: 100%;
    background-color: var(--soft-blue);
    border-radius: 54% 0 0 32%;
    transform: rotateY(180deg);
    z-index: -1;
}

@media (min-width: 680px){
    .about-tabs .img-desc::before{
        width: 70%;
    }
}

.text-desc{
    max-width: 701px;
    margin-left: auto;
    margin-right: auto;
}

.more{
    outline: none;
    border: 2px solid var(--soft-blue);
    background-color: var(--soft-blue);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 0.8em 1.5em;
    cursor: pointer;
}

.more:hover{
    background-color: white;
    color: var(--soft-blue);
}

@media (min-width: 954px){
    .tabs{
        flex-direction: row;
    }

    .tabs div:first-child{
        border-top: none;
    }

    /* .about-tabs .text-desc,
    .about-tabs .img-desc{
        border: 2px solid black;
    } */
    .about-tabs{
        display: flex;
    }

    .about-tabs .img-desc{
        width: 50%;
    }
    .about-tabs .img-desc img{
        position: relative;
        right: -5%;
    }
    .about-tabs .img-desc::before{
        width: 88%;
    }
    .about-tabs .text-desc{
        text-align: start;
        width: 50%;
        padding: 5em 10em 0 3em;
    }

    .active::before{
        width: 100%;
    }
}

/* ############################# extensions ################################ */

.extensions{
    margin-top: 100px;
}

.extensions .heading h1,
.extensions .heading{
    margin-bottom: 30px;
    max-width: 500px;
    margin: 20px auto;
}


.card-container{
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
}
.cards{
    max-width: 500px;
    padding: 1.2em;
    margin-bottom: 50px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width : 320px){
    .card-container{ padding: 0.8em; }
    .cards{ width: 100%; }
}

.install{
    width: 95%;
    outline: none;
    padding: 0.80em 0;
    color: white;
    background-color: var(--soft-blue);
    border: 2px solid var(--soft-blue);
    border-radius: 0.5em;
    font-weight: bold;
    cursor: pointer;
}

.install:hover{
    background-color: white;
    color: var(--soft-blue);
    border: 2px solid var(--soft-blue);
}

@media (min-width: 900px){
    .card-container{
        flex-flow: row wrap;
        /* height: 500px; */
    }
    .cards{
        flex-basis: 250px;
        margin: 20px;
    }
    .cards:nth-child(1){
        align-self: flex-start;
    }
    .cards:nth-child(2){
        align-self: center;
    }
    .cards:nth-child(3){
        align-self: flex-end;
    }

}

/* ########################## FAQ ############################### */

section.faq{
    max-width: 522px;
    margin-left: auto;
    margin-right: auto;
}

.faq .heading{
    margin-bottom: 50px;
}

.questions li{
    border-bottom: 1px solid var(--grayish-blue);
    list-style: none;
    padding-bottom: 10px;
    position: relative;
}

.question{
    cursor: pointer;
}

.question:hover{
    color: var(--soft-red);
}


.question::after{
    content: '';
    position: absolute;
    background: url('./images/icon-arrow.svg');
    background-repeat: no-repeat;
    background-position: right top;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    margin-left: 20px;
    pointer-events: none;
}

.questions li .answer{
    display: none;
}

.questions li .toggle + div{
    display: block;
    padding: 1.5em 0;
}

.questions li .toggle::after{
    transform: rotateZ(180deg);
    opacity: 0.55;
}

.question-bank button{
    font-size: 16px;
    position: relative;
    margin: 2.5em 0;
    margin-left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 320px){
    .question-bank button{ font-size: 12px; }
}


/* ########################## Contact ########################## */

.contact{
    width: 100%;
    background-color: var(--soft-blue);
    color: white;
    padding: 4.25em 1.875em;
}

.contact div{
    max-width: 480px;
    margin: 0 auto;
} 

.contact div h3{
    letter-spacing: 4px;
}

form{
    display: flex;
    flex-direction: column;
}



form input,
form button{
    display: inline-block;
    width: 100%;
    margin: 0.5em auto;
    outline: none;
    border: none;
    font-size: 16px;
    padding: 0.825em 0.815em;
    border-radius: 8px;
}

form button{
    font-weight: bold;
    background-color: var(--soft-red);
    color: white;
    cursor: pointer;
    border: 2px solid var(--soft-red);
}

form button:hover{
    background-color: white;
    color: var(--soft-red);
}

@media (min-width: 701px){
    .contact div h1{
        margin: 1.5em 3.5em;
    }
    form{
        flex-direction: row;
    }

    form input,
    form button{
        padding: 0.625em;
        border-radius: 6px;
        margin: 0 0.5em;
    }
    form input{
        width: 75%;
    }
    form button{
        width: 25%;
    }
}
/* ########################### Footer ############################### */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--very-dark-blue);
}

.navigation,
.navigation .logo{
    width: 100%;
}

.navigation .logo{
    width: 100%;
    display: flex;
    /* border: 2px solid wheat; */
    align-items : center;
    justify-content: center;
}

.navigation .logo h3{
    margin-left: .5em;
    font-weight: 500;
    color: whitesmoke;
    letter-spacing: 1px;
}

.navigation ul{
    /* border: 2px solid wheat; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation ul li{
    font-size: 18px;
    list-style: none;
    padding: 0.8em 0;
    text-transform: uppercase;
}

.navigation ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.773);
}
.navigation ul li a:hover{
    text-decoration: underline;
}
.navigation ul li a:active{
    text-decoration: none;
}


.social-media a:hover{
    opacity: 70%;
}

@media (min-width: 550px){
    footer{
        flex-direction: row;
        justify-content: space-between;
    }
    footer > * {
        width: 100%;
    }
    
    .social-media{
        text-align: center;
        align-self: flex-start;
    }

    .navigation{
        margin-bottom: 0;
    }
}

@media (min-width: 1015px){
    footer.container{
        flex-direction: row;
        padding: 1em 8em;
        overflow: hidden;
    }

    .navigation{
        display: flex;
        /* border: 2px solid wheat; */
    }
    .navigation .logo{
        margin: 5px 0;
        width: 28%;
        justify-content: flex-start;
    }

    .navigation ul{
        flex-direction: row;
        width: 72%;
    }
    .navigation ul li{
        font-size: 14px;
        margin-right: 20px;
    }

    .navigation .logo h3{
        font-size: 16px;
        /* border: 1px solid wheat; */
        margin-bottom: 0;
    }
    footer .social-media{
        width: 40%;
        margin-top: 2px;
        /* border: 1px solid wheat; */
        /* border: 1px solid wheat; */
    
    }
}